<tr>
  <td>
    <%= image_tag user.image.url, size: 50 %>
    <%= link_to user.name, user %>
  </td>

  <% if (post = user.posts.find_by(date: Date.today)) %>
    <% post.convert_working_total %>
    <td>
      <%= post.working_hours %>時間
      <%= post.working_minutes %>分
    </td>
    <td>
      <%= post.memo %>
    </td>
  <% else %>
    <td>0時間 0分</td>
    <td></td>
  <% end %>
</tr>