<%= will_paginate @following, class: 'pagination-top' %>

<table class='following'>
  <tr>
    <th>ユーザ名</th>
    <th>作業時間</th>
    <th class='table-memo'>作業内容</th>
  </tr>

  <% @following.each do |following| %>
    <tr>
      <td>
        <%= image_tag following.image.url, size: 50 %>
        <%= link_to following.name, following %>
      </td>
      <% post = following.posts.find_by(date: Date.yesterday) %>
      <td>
        <%= post.working_total / 60 %>時間
        <%= post.working_total % 60 %>分
      </td>
      <td class='table-memo'>
        <%= post.memo %>
      </td>
    </tr>
  <% end %>
</table>

<%= will_paginate @following %>