<%= will_paginate @users_random %>

<table class='users'>
  <tr>
    <th>ユーザ名</th>
    <th>作業時間</th>
    <th>作業内容</th>
  </tr>

  <% @users_random.shuffle.each do |user| %>
    <% post = user.posts.find_by(date: Date.today) %>
    <tr>
      <td>
        <%= image_tag user.image.url, size: 50 %>
        <%= link_to user.name, user %>
      </td>

      <% post.convert_working_total %>
      <td>
        <%= post.working_hours %>時間
        <%= post.working_minutes %>分
      </td>
      <td>
        <%= post.memo %>
      </td>
    </tr>
  <% end %>
</table>

<%= will_paginate @users_random %>