<%= will_paginate @posts_today, class: 'pagination-top' %>

<table class='users'>
  <tr>
    <th>ユーザ名</th>
    <th>作業時間</th>
    <th class='table-memo'>作業内容</th>
  </tr>

  <% @posts_today.each do |post| %>
    <tr>
      <td>
        <%= image_tag post.user.image.url, size: 50 %>
        <%= link_to post.user.name, post.user %>
      </td>
      <% post.convert_working_total %>
      <td>
        <%= post.working_hours %>時間
        <%= post.working_minutes %>分
      </td>
      <td class='table-memo'>
        <%= post.memo %>
      </td>
    </tr>
  <% end %>
</table>

<%= will_paginate @posts_today %>