<tr>
  <td>
    <%= image_tag user.image.url, size: 50 %>
    <%= link_to user.name, user %>
  </td>

  <% if (post = user.posts.find_by(date: Date.today)) %>
    <% post.convert_working_total %>
    <td>
      <%= post.working_hours %>時間
      <%= post.working_minutes %>分
    </td>
    <td>
      <%= post.memo %>
    </td>
  <% else %>
    <td>0時間 0分</td>
    <td></td>
  <% end %>
</tr>

<tr>
  <td>
    <%= image_tag user.image.url, size: 50 %>
    <%= link_to user.name, user %>
  </td>

  <% if (posts = user.posts.where(date: (Date.today - 7)...Date.today)) %>
    <% working_weekly = caluculate_working_times_sum(posts) %>
    <td>
      <%= working_weekly / 60 %>時間
      <%= working_weekly % 60 %>分
    </td>
    <td></td>
  <% else %>
    <td>0時間 0分</td>
    <td></td>
  <% end %>
</tr>