<%= will_paginate @users %>

<table class='users'>
  <tr>
    <th>ユーザ名</th>
    <th>作業時間</th>
  </tr>

  <% @users.shuffle.each do |user| %>
    <% posts = user.posts.where(date: (Date.today - 7)...Date.today) %>
    <% unless posts.empty? %>
      <tr>
        <td>
          <%= image_tag user.image.url, size: 50 %>
          <%= link_to user.name, user %>
        </td>
        <% working_weekly = caluculate_working_times_sum(posts) %>
        <td>
          <%= working_weekly / 60 %>時間
          <%= working_weekly % 60 %>分
        </td>
      </tr>
    <% end %>
  <% end %>
</table>

<%= will_paginate @users %>
