<% provide(:title, 'ユーザー一覧') %>

<div class='row'>
  <div class='col-xs-12'>
    <div class='page-title top-page-title' id='time-table'>
      <h1>
        <%= Date.today.strftime('%m月%d日') %>
        <%=  '(' + %w(日 月 火 水 木 金 土)[Date.today.wday] + ')' %>
      </h1>
      <h2>みんなの作業時間</h2>
    </div>

    <div class='search-form'>
      <%= render 'search_user' %>
    </div>
    <div class='clear'></div>
  </div>
</div>

<div class='row'>
  <div class='col-xs-12'>
    <div class='btn-field'>
      <div class='change-btn today-btn active'>今日</div>
      <div class='change-btn yesterday-btn'>昨日</div>
      <div class='change-btn weekly-btn'>1週間(ランダム順)</div>
    </div>

    <div id='today-table'>
      <%= render 'today_table' %>
    </div>

    <div id='yesterday-table'>
      <%= render 'yesterday_table' %>
    </div>

    <div id='weekly-table'>
      <%= render 'weekly_table' %>
    </div>
  </div>
</div>