<% provide(:title, 'ユーザー一覧') %>

  <div id='time-table'>
    <h1>
      <%= Date.today.strftime('%m月%d日') %>
      <%=  '(' + %w(日 月 火 水 木 金 土)[Date.today.wday] + ')' %>
    </h1>
    <h2>みんなの作業時間</h2>
  </div>


<%= will_paginate %>

<div class='btn-field'>
  <div class='change-btn today-btn active'>今日</div>
  <div class='change-btn weekly-btn'>1週間</div>
</div>

<div id='today-table'>
  <%= render 'today_table' %>
</div>

<div id='weekly-table'>
  <%= render 'weekly_table' %>
</div>

<div id='random-table'>
  <%= render 'weekly_table' %>
</div>

<%= will_paginate %>