<% provide(:title, 'ユーザー一覧') %>

<h1><%= Date.today.strftime('%m月%d日')%>
<%=  '(' + %w(日 月 火 水 木 金 土)[Date.today.wday] + ')' %></h1>
<h1>みんなの作業時間</h1>

<%= will_paginate %>

<table class='users'>
  <tr>
    <th>ユーザ名</th>
    <th>作業時間</th>
    <th>作業内容</th>
  </tr>
  <%= render @users %>
</table>

<%= will_paginate %>