<% provide(:title, @user.name) %>

<div class='row'>
  <div class='col-md-10 col-md-offset-1'>
    <div class='user-profile'>
      <%= image_tag @user.image.url, size: 100 %>
      <h4>
        <%= @user.name %>
        <% if logged_in? && current_user == @user %>
          <small><%= link_to '(プロフィールを編集)', edit_user_path(@user) %></small>
        <% end %>
      </h4>
    </div>
    <div class='total-working_times'>
      <h3>合計作業時間</h3>
      <%= @working_hours %>時間
      <%= @working_minutes %>分
    </div>
    <div class='clear'></div>

    <div class='user-description'>
      <p><%= @user.profile %></p>
      <p>ブログURL: <%= link_to @user.blog_url, @user.blog_url, :target=>["_blank"] %></p>
    </div>

    <% if logged_in? && @user == current_user %>
      <div class='tweet-btn'>
        <div class='tweet-label'>今日の作業時間をツイートする</div>
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw"
        data-text='<%= "今日の作業時間は#{@working_today_hour}時間#{@working_today_minute}分でした。" %>'
        class="twitter-share-button" data-show-count="false">tweet</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
      <div class='clear'></div>
    <% end %>
  </div>
</div>

<div class='row'>
  <div class='col-md-10 col-md-offset-1'>

    <%= will_paginate @posts %>

    <div id='user-posts-mobile'>
      <%= render 'posts/posts_table_mobile' %>
    </div>

    <div id='user-posts-pc'>
      <%= render 'posts/posts_table_pc' %>
    </div>

    <%= will_paginate @posts %>

    <% if logged_in? && @user == current_user %>
      <p id='post-btn'><%= link_to new_post_path do %>
        <i class="fas fa-edit"></i>
      <% end %>
    <% end %>
  </div>
</div>