<% provide(:title, '記録の編集') %>

<div class='page-title'>
  <h1>投稿の編集</h1>
  <h3><%= @post.date %></h3>
</div>

<div class='row'>
  <div class='col-md-6 col-md-offset-3'>
    <%= form_for(@post) do |f| %>
      <%= render 'shared/error_message', object: f.object %>

      <%= f.number_field :working_hours, value: @post.working_hours, in: 0..23, step: 1,
                                                  class: 'form-control, form-hour' %>時間

      <%= f.number_field :working_minutes, value: @post.working_minutes, in: 0..59, step: 1,
                                                  class: 'form-control, form-minute' %>分

      <%= f.label :memo, '作業内容' %>
      <%= f.text_field :memo, class: 'form-control' %>

      <%= f.submit '更新', class: 'btn btn-primary' %>
    <% end %>
    <%= link_to '投稿の削除', @post, method: :delete,
                          data: { confirm: '削除してよろしいですか？' } %>
  </div>
</div>